@media screen and (max-width: 1800px) {
  .none_ikon {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .nav_text h1 {
    transform: translateX(-60px);
  }
  .nav_text p {
    transform: translateX(-60px);
  }

  .header_button {
    transform: translateX(-60px);
  }
}

@media screen and (max-width: 1450px) {
  .header_button {
    transform: translateX(-100px);
  }
}

@media screen and (max-width: 1440px) {
  .ikon_nav {
    margin-right: 500px;
  }
}

@media screen and (max-width: 1390px) {
  .img_hedaer_21 > img {
    max-width: 1390px;
  }

}

@media screen and (max-width: 790px) {
  .nav_text h1 {
    transform: translateX(10px);
  }
  .nav_text p {
    transform: translateX(10px);
  }
}

@media screen and (max-width: 600px) {
  .nav_text h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
  }
  .nav_text p {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
  }
}

@media screen and (max-width: 420px) {
  .nav_a {
    display: none;
  }
  .ikon_nav {
    display: none;
  }
  .nav_text {
  }

  .nav_text h1 {
    font-size: 48px;
    transform: translateX(130px);
  }
  .nav_text p {
    font-size: 28px;
    transform: translateX(130px);
  }
  .none_ikon {
    display: block;
    margin-left: 800px;
  }
  .section1 {
  }
  .section1_variables {
    display: inline-block;
    margin-left: 550px;
  }
  .section1_img > .imgmobil {
    display: none;
  }
  .section1_img > .imgdes {
    display: block;
    width: 100%;
    transform: translateX(-310px);
  }
  .section2 {
    display: block;
    margin-left: 330px;
  }
  .section2_text{
    text-align: center;
  }
  .section3{
    display: block;
    padding-bottom: 40px;
  }
  .section3_img > img{
    width: 100%;
    margin-left: 80px;
  }
  .but44{
    width: 100%;
    max-width: 383px;
  }
  .section3_text{
    margin-left: 350px;
    text-align: center;
  }
  .section3_text_buttons{
    display: block;
  }
  
  .section4{
    padding-top: 350px;
  }
  .section4_text{
    margin-left: -200px;
  }
  .section4_img{
    display: none;
    width: 500px;

  }
  .section4mobil {
    display: block;
    margin-left: 500px;
    padding-top: 30px;
  }
  .section5{

  }
  .section6{
    margin-top: 100px;
  }
  .section6_box_money_nav{
  }
  .section6_box{
    display: block;
    margin-left: 450px ;
  }
  .section5_testemonials{
    margin-top: 500px;
  }
  .section7_location{
    display: none;
  }
  .section7_ikon{
    /* ikon */
  }
  .section7_main{
    padding-top: 300px;
  }


  .footer_box_text{
  display: block;
}


}
