@media screen and (max-width: 1240px) {
  .nav_a {
    padding-left: 20px;
  }
  .header{
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .nav_a {
    display: none;
  }
  .logo_nav {
    padding-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .section1_variables{
    justify-content: center;
  }
  .section1_header{
    padding-left: 20px;
    padding-right: 20px;
  }
  .section1_imgdesctop{
    display: block;
  }
  .section1_img{
    display: none;
  }
  .section2_text{
    text-align: center;
  }
  .section3_img{
    margin-right: 60px;
  }
  .section3_text{
    margin-left: 50px;
  }
  .section3_text_buttons{
    width: 353px;
    text-align: center;
  }
  .section3_buttonw > button{
    width: 353px;
  }
  .section5_testemonials > h1{
    padding-left: 20px;
    padding-right: 20px;
  }
  .section5_button{
    margin-left:-60px;
  }
  
}

@media screen and (max-width: 420px) {
  .nav_text > h1 {
    font-size: 48px;
    font-weight: 400;
  }
  .nav_text > .h1 {
    display: none;
  }
  .nav_text > .nav_text_start {
    display: block;
    font-family: var(--graphik);
    font-weight: 400;
    font-style: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
  }
  .nav_text {
    max-width: 433px;
    padding-top: 50px;
  }
  .ikon_nav > img {
    display: none;
    border: 2px solid red;

  }
 .none_ikon{
    display: block;
    margin: auto;
    padding-right: 25px;
 }
 .nav_text > p > span{
    display: none;
 }
 .pspan{
    display: none;
 }

}
